#language-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#language-section div {
  margin: 10px;
}
#language-section label {
  margin: 0px 5px;
  cursor: pointer;
}

#language-section input {
  cursor: pointer;
}

.station-name {
  position: relative;
}

.mix-circle {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 19px;
  left: 450px; 
  color: transparent;
  background: linear-gradient(to right, #A020F0 0%, #A020F0 50%, #00FF00 50%, #00FF00 100%);
  border-radius: 50%;
}

.purple {
  position: absolute;
  z-index: 5;
  width: 12px;
  height: 6px;
  background-color: #a020f0;
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  transform: rotate(271deg);
}

.green {
  position: absolute;
  left: 6px;
  width: 12px;
  height: 6px;
  background-color: #00ff00;
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  transform: rotate(90deg);
}

.station-name li {
  position: relative;
  margin: 1.4rem 30rem;
  font-size: 2rem;
}

.station-name span {
  position: absolute;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  top: 9.5px;
}

.station-name span:active {
  color: gray;
}

.input-station {
  width: 30vw;
  padding: 10px 5px;
  border-radius: 5px;
  outline: none;
  border: 2px solid orangered;
  margin: 20px;
}

#inputbox-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 55;
  background-color: white;
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.13); */
}

.station-list-box {
  margin-left: 60px;
}

.infobox {
  margin-top: 10px;
  margin-right: 100px;
}

.infobox span {
  color: rgb(155, 155, 155);
  font-weight: 600;
}
.selectlabel {
  margin-left: 3rem;
  margin-right: 1px;
}

.selectlabel {
  position: relative;
}
.selectlabel img {
  position: absolute;
  width: 15px;
  left: -14px;
  bottom: -3px;
}

.select {
  /* padding: 8px 18px; */
  /* color:black; */
  /* background-color: rgb(248, 247, 247); */
  border: 1px solid white;
  /* border-radius: 5px; */
  cursor: pointer;
  appearance: none;
  outline: none;
  margin-left: 2px;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .station-name li {
    margin: 1.4rem 10rem;
  }
}

@media only screen and (max-width: 600px) {
  .input-station {
    width: 80vw;
  }
  .station-name li {
    margin: 1.5rem 3rem;
  }

  .infobox {
    margin-left: 1rem;
    margin-right: 0px;
  }

  .station-list-box {
    margin-left: 0;
  }

  .select {
    padding: 2px 4px;
    border-radius: 2px;
  }

  .selectlabel img {
    width: 13px;
    bottom: -2px;
  }

  .selectlabel {
    font-size: 15px;
  }

  .mix-circle {
    top: 19px;
    left: 19px;
  }

  .green{
    left: 6.2px;
  }
}
