/* .station-list-box {
 width: 100vw;

 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;

} */

.station-name li {
  margin: 2rem 30rem;
  padding: 0 10px;
}

.station-name span{
  cursor: pointer;
}

.input-station {
  width: 30vw;
  padding: 10px 5px;
  border-radius: 5px;
  outline: none;
  border: 2px solid orangered;
  margin: 20px;
}

#inputbox-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 55;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
}

.infobox {
  margin-left: 29rem;
  margin-top: 10px;
}

.infobox span {
  color: rgb(155, 155, 155);
  font-weight: 600;
}


@media only screen and (max-width: 600px) {
  .input-station{
    width: 80vw;
  }
  .station-name li{
    margin: 2rem;
  }

  .infobox {
    margin-left: 1rem;
  }


}
