*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.inputfield{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  align-items: center;
}

.frominput{
  display: flex;
  flex-direction: column;
}


.toinput{
  display: flex;
  flex-direction: column;
}

.inputfield label{
  margin-bottom: 5px;
  font-weight: bolder;
}
.inputfield input{
 width: 30vw;
 padding: 10px 5px;
 border-radius: 5px;
 outline: none;
 border: 2px solid orangered;
 margin-bottom: 20px;

}

.btn{
 background-color: green;
 color: white;
 border: none;
 outline: none;
 padding: 10px 100px;
 border-radius: 5px;
 font-weight: bold;
 cursor: pointer;
}

.btn:hover{
  color: rgb(243, 238, 238);
}

.swapbutton{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  width: 35px ;
  height: 35px;
  border-radius: 50%;
  
}
.swapbutton img{
  width: 25px;
  -webkit-filter : hue-rotate(180deg);
    filter : hue-rotate(180deg);
}


.output-secton{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.ticket-info-box{
  padding: 1rem 3rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.232);
  border-radius: 5px;
}

.ticket-info-box div{
  margin: 10px 0;
}

.varshik-fare{
font-weight: bold;
}

.token-fare{
font-weight: bold;
}

.metro-logo{
  width: 70px;
}


@media only screen and (max-width: 500px) {
  .inputfield input{
    width: 80vw;
  }
}
